<div class="questionDelete" *ngFor="let question of questions">
    <form (submit)="deleteQuestionInQuiz(question.questionId)">
        <div>
            <span>Question id is: {{question.questionId}}</span>
        </div>
        <div>
            <h5>{{question.text}}</h5>
        </div>
        <div >
            <label> <span>{{question.option1}}</span>
            </label>
        </div>
        <div>
            <label>  <span>{{question.option2}}</span>
            </label>
        </div>
        <div>
            <label> <span>{{question.option3}}</span>
            </label>
        </div>
        <div>
            <label> <span>{{question.option4}}</span>
            </label>
        </div>
        <button class="btn btn-light" type="submit">Delete from quiz</button>
    </form>
</div> 
