<div class="wrapper fadeInDown">
  <div class="questionCreator">
    <h2 class="fadeIn first">Create question</h2>
    <form [formGroup]="service.questionForm" autocomplete="off" (submit)="onSubmit()">
          <div class="form-group question">
            <input class="fadeIn second" formControlName="text" placeholder="Question Text">
          </div>
  
          <div class="form-group question">
            <input class="fadeIn second" formControlName="option1" placeholder="Answer Option">
          </div>
      
          <div class="form-group question">
            <input class="fadeIn second" formControlName="option2" placeholder="Answer Option">
          </div>
      
          <div class="form-group question">
            <input class="fadeIn second" formControlName="option3" placeholder="Answer Option">
          </div>

          <div class="form-group question">
            <input class="fadeIn second" formControlName="option4" placeholder="Answer Option">
          </div>
      
          <div class="form-group question">
            <input class="fadeIn second" type="number" formControlName="correctAnswer" placeholder="Correct answer">
          </div>

          <button type="submit" class="btn btn-lg" [disabled]="service.questionForm.invalid">Add</button>
          <button type= "simple" class="btn btn-lg" routerLink="/admin">Back</button> 
    </form>
  </div>
</div>
