body{
    background-color: #4a6e62
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: red;
}

div.form-group label{
    color: black;
    font-weight: 700;
}

input.form-control:focus {
    box-shadow: none;
}

button[type=submit].btn {
    border-radius: 10px;
    background-color: grey;
    color: black;
    width: 150px; 
    margin: auto;    
    padding: 5px;
}

button[type=simple].btn {
     display: inline-table;
    border-radius: 10px;
    background-color: grey;
    color: black;
    width: 150px; 
    margin: 10px;;    
    padding: 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.tab-header h2:focus {
    outline:  none;
}

div.registerForm {
    text-align: center;
}

div.loginForm {
    text-align: center;
}

input {
    background-color: rgb(201, 192, 192);
}
