<app-navbar></app-navbar> 
<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="bg-white p-3 border-bottom">
                <div>
                    <img class="img-responsive smaller" src="assets/newquestion.png">
                    <button type="admin-panel" class="btn btn-dark" routerLink="/questionCreator">Create Question</button>
                </div>

                <div>
                    <img class="img-responsive smaller" src="assets/newquiz.png">
                    <button type="admin-panel" class="btn btn-dark" routerLink="/quizCreator">Create Quiz</button>
                </div>

                <div>  
                    <img class="img-responsive smaller" src="assets/editquiz.png">
                    <button type="admin-panel" class="btn btn-dark" routerLink="/quiz">Edit Quiz</button>
                </div>

                <div>
                    <img class="img-responsive smaller" src="assets/allquizzes.png">
                    <button type="admin-panel" class="btn btn-dark" routerLink="/quizzesTaken">See last quizzes</button>
                </div>
            </div>    
        </div>
    </div>
</div>

