button[type=admin-panel].btn {
    width: 200px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

.btn:hover {
    background-color: green;
}

 .smaller-image {
     width: 50px;
     margin-top: 5px;
     margin-left: 70px;
}