.badge-pill {
   height: 30px;
   font-size: 15px;
   margin-left: 5px;
   margin-top: 5px;
   display: inline-block;
}

.wrapper {
    align-items: center; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.btn {
    color: white;
    margin-left: 30px
}

.badge-pill:hover {
   background-color: green;
}



