.badge-pill {
   height: 30px;
   font-size: 15px;
   margin-left: 5px;
   margin-top: 5px;
   display: inline-block;
}

.wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.btn {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}
