<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="bg-white p-3 border-bottom">
                        <div *ngFor="let question of quiz?.questions">
                            <form>
                                <div class="d-flex flex-row align-items-center question-text">
                                    <h5 class="mt-1 ml-2">{{question.text}}</h5>
                                </div>
                                <div class="ans ml-2">
                                 <span>{{question.option1}}</span>
                                </div>
                                <div class="ans ml-2">
                                    <span>{{question.option2}}</span>
                                </div>
                                <div class="ans ml-2">
                                  <span>{{question.option3}}</span>
                                </div>
                                <div class="ans ml-2">
                                   <span>{{question.option4}}</span>
                                </div>
                            </form>
                       </div>
                    </div>
                    <button routerLink="/insertQuestion/{{quiz?.quizId}}" class="btn btn-default insert">Add question</button>
                    <button routerLink="/deleteQuestion/{{quiz?.quizId}}" class="btn btn-default delete">Delete question</button>
                </div>
            </div>
        </div>
    </div>
</div>