<div class="row">
    <p>Login</p>
    <form #userLoginForm="ngForm" (ngSubmit)="LoginUser(userLoginForm)">
        <div class="input-field col s6">
            <input class="validate" type ="text" name="Email" #Email="ngModel" [(ngModel)]="userLogin.Email" [pattern]="emailPattern" required>
            <label>Email</label>
        </div>
        
        <div class="input-field col s6">
            <input class="validate" type ="password" name="Password" #Password="ngModel" [(ngModel)]="userLogin.Password" requiared>
            <label>Password</label>
        </div>
    
        <div class="input-field col s6">
            <button type ="submit">Login</button>
        </div>
    </form>
</div>
<button routerLink=''>Back</button>
