<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>Last quizzes</h4>
                            <button class="btn btn-dark" (click)="goPervious()">Go Back</button>
                        </div>
                    </div>
                    <div class="bg-white p-3 border-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
