<app-navbar></app-navbar>
<div class="wrapper fadeInDown">
  <div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div>
        <div class="border">
          <div class="bg-white p-3 border-bottom">
            <table class="table">
              <thead>
                <div>
                  <th *ngFor="let columnName of columnNames" scope="col">{{columnName}}</th>
                </div>
              </thead>
              <tbody>
                <div *ngFor="let quizTaken of quizzesTaken"> 
                  <ng-template ngFor let-quizDetails [ngForOf]="quizTaken?.quizDetails">
                    <tr>
                    <td>{{quizTaken.firstName}}</td>
                    <td>{{quizTaken.lastName}}</td>
                    <td><span (click)="openDialog(quizTaken?.userId)" class="badge badge-pill-clickable">{{quizDetails.quizName}}</span></td>
                    <td>{{quizDetails.score}}</td> 
                    <tr>
                  </ng-template>
                </div>
              </tbody>
            </table>
            <button class="btn btn-lg" routerLink="/admin">Back</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 