<app-navbar></app-navbar>
<div class="wrapper fadeInDown">
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <table class="mat-elevation-z8">
                            <div *ngFor="let quizTaken of quizzesTaken">
                                <div *ngFor="let quizDetails of quizTaken?.quizDetails">
                                    <td><span class="badge badge-pill">{{quizTaken.firstName}}</span></td>
                                    <td><span class="badge badge-pill">{{quizTaken.lastName}}</span></td>
                                    <td><span routerLink="/inspectQuiz/{{quizDetails?.quizId}}" class="badge badge-pill-clickable">{{quizDetails.quizName}}</span></td>
                                    <td><span class="badge badge-pill">{{quizDetails.score}}</span></td>
                                </div>
                            </div>
                        </table>
                        <button class="btn btn-lg" routerLink="/admin">Back</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
