<h2>User Registration</h2>
<div class="row">
   <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
      <label>Username</label>
      <input class="from-control" formControlName="UserName">
    </div>

    <div class="form-group required">
      <label>FirstName</label>
      <input class="from-control" formControlName="FirstName">
    </div>

    <div class="form-group required">
      <label>LastName</label>
      <input class="from-control" formControlName="LastName">
    </div>

    <div class="form-group required">
      <label>Email</label>
      <input class="from-control" formControlName="Email">
      <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email</label>
    </div>

    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="from-control" formControlName="Password">
    </div>
    <p>(*) - required </p>

    <div class ="form-row">
      <button type="submit" [disabled]="service.formModel.invalid">Register</button>
    </div>
   </form>
</div>
