<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div>
      <div class="border">
        <div class="bg-white p-3 border-bottom">
          <table class="table">
            <thead>
              <div>
                <th *ngFor="let columnName of columnNames" scope="col">{{columnName}}</th>
              </div>
            </thead>
            <tbody>
              <div *ngFor="let quizTaken of quizTakenDetails"> 
                <ng-template ngFor let-answerDetails [ngForOf]="quizTaken?.answerDetails">
                  <tr>
                  <td>{{quizTaken.firstName}}</td>
                  <td>{{quizTaken.lastName}}</td>
                  <td>{{answerDetails.quizName}}</td>
                  <td>{{answerDetails.score}}</td> 
                  <tr>
                </ng-template>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>