<div class="wrapper fadeInDown">
  <h2 class="fadeIn first" >User Login</h2>
  <form #form='ngForm' class="form-horizontal" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
      <input class="fadeIn second" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" placeholder="username" required>
    </div>
   
    <div class="form-group">
      <input class="fadeIn third" type="password"  #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" placeholder="password" required>
    </div>
    
     <button class="btn btn-lg" [disabled]="form.invalid">Login</button>  
     <button class="btn btn-lg" routerLink="/sign-up">Register</button>
  </form>
</div>