<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="question bg-white p-3 border-bottom">
                    <div *ngFor="let question of quiz?.questions">
                        <form name="quiz">
                        <div class="question">
                            <span class="questionText">{{question.text}}</span>
                        </div>
                        <div class="answer">
                            <label> <input type="radio"
                                    (change)="onRadioChange($event, question.questionId)" name="option" value=1>
                                <span>{{question.option1}}</span>
                            </label>
                        </div>
                        <div class="answer">
                            <label> <input type="radio"
                                    (change)="onRadioChange($event, question.questionId)" name="option" value=2>
                                <span>{{question.option2}}</span>
                            </label>
                        </div>
                        <div class="answer">
                            <label> <input type="radio"
                                    (change)="onRadioChange($event, question.questionId)" name="option" value=3>
                                <span>{{question.option3}}</span>
                            </label>
                        </div>
                        <div class="answer">
                            <label> <input type="radio"
                                    (change)="onRadioChange($event, question.questionId)" name="option" value=4>
                                <span>{{question.option4}}</span>
                            </label>
                        </div>
                        </form>
                    </div>
                    <button class="btn btn-dark" type="submit" routerLink="/home" (click)="onSubmit();openDialog()">Submit</button>
                </div>    
            </div>
        </div>
    </div>
</div>