<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="bg-white p-3 border-bottom">
                        <div class="questionInsert" *ngFor="let question of questions">
                            <form>
                                <div>
                                    <span class="questionText">{{question.text}}</span>
                                </div>
                                <div >
                                    <span>{{question.option1}}</span>
                                </div>
                                <div>
                                   <span>{{question.option2}}</span>
                                </div>
                                <div>
                                    <span>{{question.option3}}</span>
                                </div>
                                <div>
                                    <span>{{question.option4}}</span>
                                </div>
                                <button (click)="insertQuestionInQuiz(question?.questionId)" class="btn btn-dark">Add</button>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>